<div class="navigation">
    <a [routerLink]="'home'">
        <button mat-icon-cutton color="primary">
            <mat-icon>home</mat-icon>
        </button>
    </a>
    <a [routerLink]="'task/add'">
        <button mat-icon-cutton color="primary">
            <mat-icon>note_add</mat-icon>
        </button>
    </a>
    <a><button mat-icon-cutton color="primary">
            <mat-icon>calendar_today</mat-icon>
        </button>
    </a>
    <a><button mat-icon-cutton color="primary">
            <mat-icon>supervisor_account</mat-icon>
        </button>
    </a>
</div>