.add-task {
    padding-left: 200px;
    padding-right: 200px;
  }
  .header {
    background: #f3f5fa;
  }
  
  .header h1 {
    padding: 20px 12px 20px 12px;
  }
  textarea{
    height: 250px !important;
  }
